<div class="container-fluid text-white">

  <div class="grid row">
        <div class="widget1 col-xs-12 col-sm-6 col-md-4">

            <div class="usrPad row">
              <div class="UsrInfo col-md-4">
                <img class="avat" src="<%= asset_path 'avatar.png' %>">

              </div>
              <div class="UsrData col-md-8 ">
<center>

  <h4>José Mauro López</h4>
<br>
  <h6>Tlaxcala</h6>

</center>

              </div>
            </div>

            <div class="usrPet">
                  <div class="jumbotron">
                    <h1 class="display-6" >Peticiones</h1>
                    <ul class="list-group">
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                          <b>
                            Ana Gabriela
                          </b>
                          Busco sangre tipo O+
                          <span class="badge badge-primary badge-pill">1</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                          <b>
                            Alejandra García
                          </b>
                          Busco sangre tipo AF+
                           <span class="badge badge-primary badge-pill">2</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                          <b>
                            Carlos Díaz
                          </b>
                          Busco sangre tipo A+
                          <span class="badge badge-primary badge-pill">1</span>
                        </li>
                      </ul>
                  </div>
                </div>


        </div>



            <div class="frmpst col-xs-12 col-sm-6 col-md-8">
                <h2 class="display-4" >Publicaciones</h2>
                <div class="jumbotron">
                  <h2 class="">Angel ha brindado su ayuda a Diana</h2>
                  <p class="lead"> Este es un ejemplo de como se mostrara cada donación hecha.</p>
                  <hr class="my-4">
                  <p>Mexico, Tlaxcala.</p>

                </div>
            </div>


  </div>

  </div>
