<div class="py-5 text-center parallax cover gradient-overlay">
  <div class="container d-flex flex-column">
    <div class="row my-auto">
      <div class="col-md-12 text-white">
        <img class="mb-5 icon" src="<%= asset_path 'icon.jpeg' %>" width="100">
        <h1 class="mb-3 display-1">Bienvenido a Donsgram</h1>
        <h3 class="mb-5">La red que une donantes</h3>
        <a  style="background-color: #e04f5f;" class=" btn text-white form-group" href="/users/sign_up">SOY NUEVO, QUIERO CREAR UN PERFIL</a>
        <a style="background-color: #e04f5f;" class=" btn text-white form-group" href="/users/sign_in">TENGO UN PERFIL Y DESEO INICIAR SESIÓN</a>
      </div>
    </div>
  </div>
</div>
