<div class="container frmpst">
  <section class="widgets row">
    <div class="col-xs-12 col-sm-6 col-md-12">
      <center>

          <img class="icon" src="<%= asset_path 'icon.jpeg' %>">
<br><br>
        <h1 class="display-6">Bienvenido a DonsGram</h1>
        <h2> La red que une donantes </h2><br>
        <a  style="background-color: #e04f5f;" class=" btn text-white form-group" href="/users/sign_up">SOY NUEVO, QUIERO CREAR UN PERFIL</a>
        <a style="background-color: #e04f5f;" class=" btn text-white form-group" href="/users/sign_in">TENGO UN PERFIL Y DESEO INICIAR SESION</a>

      </center>
    </div>
  </section>
</div>
