<div class="py-5 style="background-color: #94B3D0;">
  <br>
  <br>
  <br>
    <div class="container">
      <div class="row">
        <div class="text-white col-md-12 mt-3 text-center">
          <p>© Copyright 2019 clif - All rights reserved.</p>
        </div>
      </div>
    </div>
  </div>
