<nav class=" navbar-expand-lg navbar navbar-dark" style="background-color: #e04f5f;">
  <img class="navicon" src="<%= asset_path 'icon.jpeg' %>">

  <a class="navbar-brand" href="/">DonsGram</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Perfil
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" rel="nofollow" data-method="delete" href="/users/sign_out">Cerrar Sesion</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="posts/show">Ver Pefil</a>
        </div>
      </li>

    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Estado, hospital, sangre." aria-label="Search">
      <button class="btn  my-2 my-sm-0" type="submit">Buscar</button>
      <a class="nav-link text-white" href="/posts/new">Publicar</a>

    </form>
  </div>
</nav>
