<!-- %h1 Nuevo Post

= render 'form'

= link_to 'Regresar', posts_path -->

<div class="alert alert-dismissible alert-primary">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <center>
  <strong>¡Bienvenido!</strong> Esta es la seccion donde puedes agregar un ECE
</center>

</div>

  <div class="container card formpost">
    <center>

      <h2 class="card-header"></h2><br>
      <%= render "posts/form"%>
      <%= link_to 'Ver posts', posts_path %>

    </center>
  </div>
