<div class="">
  <br>
</div>

<div class="card">
  <center>

<div class="card-header">

  <h4>Usuario:</h4>
  <%= @post.user.username %>
</div>

<div class="card-header">

  <h4>Título:</h4>
  <%=@post.tittle%>
</div>

<div class="card-header">
  <h4>Mensaje:</h4>
  <%=@post.body%>

</div>




      <a href="<%= edit_post_path(@post) %>">Editar</a>
      <a href="/posts">Regresar</a>


  </center>
</div>
