/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

 @import "bootstrap";

 $theme-colors: (
   primary: #191D4A,
   secondary: #4f70ce,
   light: #f3f3f3,
   dark: #151515,
   info: #ccc,
   success: #28a745,
   warning: #ffc107,
   danger: #dc3545
 );

 body{
   background-image: url(/assets/header.jpg);
   position: relative;
   background-position: center center;
   background-size: cover;}

 .padding{padding-top: 50px;}
 .navicon{width: 50px;}

 .avat{width: 150px;}
.usrPad{
  padding-top: 25px;
}

  .bnvPanel
  {
    padding-top: 50px;
    background-color: #191D4A;
    opacity: 50%;
    color: black;
    text-align:center;}

   .rgtPanel{
  padding-top: 50px;
  background-color: #191D4A;
  opacity: 50%;
  color: black;
  text-align:center;
  }
   .BotonIniciar{
     color: #ffff
     #df2c2c

   }

   .usrImg{
   width: 150px;
   }

   .UsrData{
     padding-top: 50px;
   }

   .usrPet{
     padding-top: 20px
   }
   .rstrUsrImg{
     padding-top: 20px;
     width: 150px;
   }

   .tittle{
     padding-top: 50px;
   }
   .icon{
     width: 250px;
   }

.options{
  color: white;
  }
